<div></div>

  <div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="data" matSort>
			
    <!-- IFSC Column -->
		<ng-container matColumnDef="ifsc">
			<mat-header-cell *matHeaderCellDef mat-sort-header> IFSC </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.ifsc}} </mat-cell>
		</ng-container>
  
	  <!-- Address Column -->
	  <ng-container matColumnDef="address">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
	  </ng-container>
  
  
	  <!-- Name Column -->
	  <ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.bank_name}} </mat-cell>
	  </ng-container>
  
	  <!-- City Column -->
	  <ng-container matColumnDef="city">
		<mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
	  </ng-container>
  
	  <!-- District Column -->
	  <ng-container matColumnDef="district">
		<mat-header-cell *matHeaderCellDef mat-sort-header> District </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.district}} </mat-cell>
	  </ng-container>

	  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>        
	</mat-table>
  <p *ngIf="data == null">No records found</p>

</div>

